[Desktop Entry]
Type=Application
Name=From Doom With Love
Comment=enhanced clone of the classic first-person shooter Doom
Icon=fdwl
TryExec=fdwl
Exec=fdwl %F
Categories=Game;ActionGame;
MimeType=application/x-doom-wad;
Keywords=first;person;shooter;doom;boom;mbf;prboom;
